@import "../../styles/colors";
@import "../../styles/buttons";
@import "../../styles/fonts";
@import "../../styles/container";
.faqBox{
  @extend .outerBox;
}
.closebtn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  button {
  @include reset-button(1.5em);
}
}
.add{
  button{
    @include button(1em, lighten($brown, 40%), $brown);
}
}
li.message {
  color: darken($brown, 20%);
  background-color: lighten($brown, 30%);
  border-radius: 5px;
  margin-bottom: 5px;
}
.formContainer {
  flex: 1;
  min-width: 50%;
  font-family: $text;
  border: $brown solid 2px;
  border-radius: 5px;
  color: darken($brown, 20%);
  background-color: lighten($brown, 30%);
  margin-top: 1em;
  padding: 1em;
  form {
    background-color: $white;
    border-radius: 5px;
    padding: 5px;
  }
  legend {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
  }
}
.formBtn{
  padding-left: 1em;
  button {
  font-size: 1em;
  color: $white;
  background-color: $brown;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
}
.formRow {
  display: flex;
  margin: 1em;
  label {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-bottom: 5px;
    font-size: 1.2em;
  }
  input,textarea {
    display: block;
    flex: 1;
    font-size: 1em;
    padding: 5px;
  }
  }
ul{
  margin: 0;
  padding: 0;
}
.liHeading{
  font-weight: bold;
  font-size: 1.3em;
  hr {
    height: 1px;
    color: $base;
    background: $base;
    font-size: 0;
    border: 0;
  }
}
.liAnswer {
  color: black;
  font-size: 1.1em
}
.questions{
  flex: 1;
  min-width: 80%;
  border: $base solid 2px;
  border-radius: 5px;
  background-color: lighten($base, 40%);
  padding: 10px;
  color: darken($base, 10%);
  overflow: auto;
  ul{
    margin-bottom: 5px;
    background-color: $white;
    border-radius: 5px;
  }
  li{
    padding: 5px;
    list-style-type: none;
  }
}
.errorText {
  color: red;
  padding: 0;
  margin: 0;
}
