@import "../../partials/colors";

.nav {
  background: $yellow;
  // height: 50%;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  header{
    flex: 1;
    padding-left: 10%;
    font-size: 2em;
  }
  ul{
    flex: 1;
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-around;
    margin: 0;
    font-size: 1.2em;
    align-self: flex-end;
  }
  a{
    text-decoration: none;
    color: $orange;
  }
  li {
    list-style-type: none;
  }

}

.selected{
  font-weight: bolder;
}
